---
const currentYear = new Date().getFullYear()

const socialLinks = [
	{
		name: 'Gmail',
		url: 'mailto:toufiq.nuur@gmail.com'
	},
	{
		name: 'GitHub',
		url: 'https://github.com/toufiqnuur'
	},
	{
		name: 'LinkedIn',
		url: 'https://www.linkedin.com/in/toufiqnuur/'
	}
]

const siteLinks = [
	{
		name: 'Home',
		url: '/'
	},
	{
		name: 'Projects',
		url: '/projects'
	},
	{
		name: 'Uses',
		url: '/uses'
	},
	{
		name: 'About',
		url: '/about'
	}
]

const otherLinks = [
	{
		name: 'Blog',
		url: 'https://tdots.pages.dev',
		external: true
	},
	{
		name: 'Guest Book',
		url: '/guestbook',
		external: false
	},
	{
		name: 'Support Me',
		url: '/support-me',
		external: false
	}
]
---

<footer class="p-4">
	<div
		class="to-blue-white container rounded-4xl border-r-2 border-b-2 border-blue-600 bg-gradient-to-tl from-blue-500/90 from-50% to-blue-400/90 text-zinc-50 dark:border-blue-700 dark:from-blue-700/75 dark:to-blue-600/75"
	>
		<div class="flex flex-col gap-8 px-2 py-8 md:flex-row md:items-center md:gap-32">
			<div>
				<div class="text-3xl font-bold">光</div>
				<div class="mt-4 text-xl font-semibold">Toufiq Nuur Rahman.</div>
				<div class="mt-4 max-w-48 font-medium opacity-75">
					Sleman, Special Region of Yogyakarta, Indonesia
				</div>
			</div>
			<div class="grid grid-cols-2 gap-8 md:flex-1 md:grid-cols-3 md:gap-16">
				<div>
					<div class="font-semibold">Navigation</div>
					<ul class="mt-2 flex flex-col">
						{
							siteLinks.map((site) => (
								<li>
									<a class="text-sm font-medium opacity-75" href={site.url}>
										{site.name}
									</a>
								</li>
							))
						}
					</ul>
				</div>

				<div>
					<div class="font-semibold">Others</div>
					<ul class="mt-2 flex flex-col">
						{
							otherLinks.map((item) => (
								<li>
									<a
										class="text-sm font-medium opacity-75"
										href={item.url}
										target={item.external ? '_blank' : '_self'}
									>
										{item.name}
									</a>
								</li>
							))
						}
					</ul>
				</div>

				<div>
					<div class="font-semibold">Social</div>
					<ul class="mt-2 flex flex-col">
						{
							socialLinks.map((social) => (
								<li>
									<a class="text-sm font-medium opacity-75" href={social.url}>
										{social.name}
									</a>
								</li>
							))
						}
					</ul>
				</div>
			</div>
		</div>
		<div class="border-t-2 border-white/10 px-2 py-4 text-sm font-medium opacity-75">
			&copy; 2023 - {currentYear} Toufiq. All rights reserved.
		</div>
	</div>
</footer>
